scope: postgres
name: keycloak-ha
restapi:
  listen: 0.0.0.0:8008
  connect_address: {{ NODE_IP }}:8008
etcd3:
  hosts:
    - 172.29.65.52:2379
    - 172.29.65.53:2379
    - 172.29.65.54:2379
  protocol: http
postgresql:
  listen: 0.0.0.0:5432
  connect_address: {{ NODE_IP }}:5432
  data_dir: /var/lib/postgresql/data
  bin_dir: /usr/lib/postgresql/16/bin
  authentication:
    superuser:
      username: postgres
      password: {{ POSTGRES_PASSWORD }}
    replication:
      username: replicator
      password: {{ REPLICATOR_PASSWORD }}
  pg_hba:
    - local all all trust
    - host replication replicator 127.0.0.1/32 trust
    - host replication replicator 172.29.65.0/24 scram-sha-256
    - host all all 172.29.65.0/24 scram-sha-256
    - host all all 0.0.0.0/0 scram-sha-256
  parameters:
    wal_level: replica
    hot_standby: "on"
    max_wal_senders: 10
    max_replication_slots: 10
    wal_keep_size: 64
    archive_mode: "on"
    archive_command: 'cd .'
    max_connections: 200
    shared_buffers: 1GB
    effective_cache_size: 3GB
    work_mem: 16MB
    maintenance_work_mem: 256MB
    wal_buffers: 16MB
    checkpoint_completion_target: 0.9
    max_wal_size: 2GB
    min_wal_size: 1GB
    random_page_cost: 1.1
    log_statement: "all"
    log_connections: "on"
    log_disconnections: "on"
    log_min_messages: "info"
    log_min_error_statement: "error"
    log_min_duration_statement: 0
    log_checkpoints: "on"
    log_lock_waits: "on"
    log_temp_files: 0
    log_autovacuum_min_duration: 0
    log_timezone: "UTC"
    timezone: "UTC"
    synchronous_commit: "on"
    synchronous_standby_names: '*'
    password_encryption: scram-sha-256
bootstrap:
  dcs:
    ttl: 30
    loop_wait: 10
    retry_timeout: 10
    maximum_lag_on_failover: 1048576
    postgresql:
      use_pg_rewind: true
      use_slots: true
  initdb:
    - encoding: UTF8
    - data-checksums
    - locale: en_US.UTF-8
  users:
    replicator:
      password: {{ REPLICATOR_PASSWORD }}
      options:
        - replication
    keycloak:
      password: {{ POSTGRES_PASSWORD }}
      options:
        - createrole
        - createdb
        - replication
